html{
  scroll-behavior:smooth;
}
.active{
  border-bottom: 2px solid #ddd;
	width: 100%;
	text-align: center;
  transition: 0.2s;
}

.bg{
    background:linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(img/tech.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }

.bg1{
    padding-top: 100px;
    height: 100vh;
}
#n{
  color:chartreuse;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 1px;
  -webkit-text-stroke: 1px black;
}

/*-----------------------------*/
.anm{
  animation:fade 10s ease ;  
}
@keyframes fade{
  0%{opacity:0;}
  100%{opacity:100;}
}
/*--------------------------*/
#anm2{
  animation:slide 2s linear 1;
}
@keyframes slide{
  0%{
    transform: translateX(-150px);
    visibility: visible;
  }
  100%{
    transform: translateX(0);
    visibility: visible;
  }
}
/*--------------------------------------*/
#a1{
    color:beige;
    margin-left: 750px;
    margin-top:100px;
    font-variant: small-caps;
    font-size: 40px;
    color:orangered;
}
#a2{
    color:beige;
    margin-left: 750px;
    font-variant: small-caps;
    font-size: 50px;
    word-spacing: 7px;
}
#a2 span{
    color: orangered;
}
#a3{
    color: beige;
    margin-left: 755px;
    font-variant: small-caps;
    font-size: 31.5px;
    word-spacing: -2px;
    letter-spacing: -1px;
}
#a3 span{
    color: orangered;
}
#a4{
  margin-left: 755px; 
  background-color: none;
}
#a4 span{
  color: orangered;
}
#a4 button{
  border: outset;
  font-variant: small-caps;
  font-family:initial;
  background-color: orangered;
  border-color: whitesmoke;
  border-radius: 25px;
  padding: 5px 10px;
}
#a4 button:hover{
  transform: scale(1.1);
}
/*------ABOUT------*/
#p{
  background: black;
  color: chartreuse;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-variant: small-caps;
  padding: 15px;
}
.abt{
  background: linear-gradient(to right, #003399 0% , #ff0066 100%);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.row{
    margin-top: 80px;
}

.p1{
    text-align: center;
    margin-left: 70px;
}
.p1 img{
    border-left: 5px solid darkblue;
    border-top: 5px solid darkblue;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 10px 12px 15px 8px;
    display: block;
}
#im {
  width:350px;
  height:300px;
  background-image: url(img/t.jpg);
  background-position: center;
  background-size: cover;
  margin-left: -65px;
  display: none;
}
#p1{
    margin-top:50px;
    text-align: center;
    text-align: justify;
}
#p1 h2{
    width: 520px;
    padding: 25px;
    margin-left: 170px;
    text-align: left;
    font-size: 22px;
    font-weight: bold;
    color: whitesmoke;
    -webkit-text-stroke: 1.3px black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border:7px solid yellow;
    border-top:7px solid black;
    border-left:7px solid black;
    border-top-left-radius: 15px;
}
#p1 span{
    color: chartreuse;
    margin-left: 10px;
    font-weight: bold;
    font-size: 30px;
    font-variant: small-caps;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#p1 p{
    margin-left: 180px;
    font-size: 24px;
    width: 500px;
    color:aliceblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#p1 p span{
  color:orangered;
  -webkit-text-stroke: 1.5px black;
  font-size: 24px;
}
.box a{
  text-decoration: none;
  color: black;
}

/*---------------------------OVERLAY--------------------------*/
.box{
  position: relative;
  margin-left: 160px;
  width:320px;
  height:430px;
}
.overlay{
  bottom: 0;
  left:0;
  right: 0;
  background-color: black;
  opacity: 0.7;
  overflow: hidden;
  width: 100%;
  height:0;
  transition: 1.5s;
  position: absolute;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.text{
  color: white;    
  left: 15%;
  margin-top:300px;
  font-size: 15px;
  position: absolute;
}
.box:hover .overlay{
  height: 100%;
}
/*---------------------------CONTACT---------------------*/
.bg2{
  background:linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(img/oge.jpg); 
  background-position: center;
  background-size: cover;
  height: 110vh;
}

#cont{
  background: black; 
}
#cont h1{
  color: aliceblue;
  padding: 15px;
  font-size:50px;
  font-variant:small-caps;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.bx{
  margin-top: 50px;
  width: 900px;
  height:500px;
  background: black;
  left:50%;
  position: absolute;
  transform: translate(-50%);
  box-shadow: 15px 8px 15px 8px black;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-right: 3px solid #ff0066;
  border-bottom: 3px solid #ff0066;
}
.bx h3{
  color: #ddd;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 50px;
  padding: 10px;
  text-align: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-bottom: 2px solid #ddd;
}
.bx h4{
  color: aliceblue;
  font-family: initial;
  padding: 10px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}
.bx h6{
  margin-top: 20px;
  color: aliceblue;
  font-variant: small-caps;
  font-family: monospace;
  font-size: 25px;
  text-align: center;
}
form{
  position: absolute;
  left:50%;
  top:35%;
  transform: translate(-50%,-25%);
  display: none;
}
form input{
  display: flex;
  flex-flow: column;
  border: none;
  background: black;
  color:#ddd;
  padding:15px;
  width:400px;
  border-bottom: 2px solid whitesmoke;
}
.bx #snd{
  background: none;
  border: none;
  color:aliceblue;
  font-variant: small-caps;
  font-size: 30px;
  margin-left:350px ;
  margin-top:25px ;
}
.bx #snd:hover{
  transform: scale(1.1);
  transition: 1s;
}
#btn{
  border: none;
  padding:5px 3px;
  border-radius: 10px;
  width:70px;
  height: 40px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 20px;
}
/*----------------------------------------------*/

.skl1{
  background: rgba(246,190,0);
  height:120vh;
}
.skl1 h1{
  background: black;
  color:whitesmoke;
  padding:12px;
  font-weight: bold;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-variant: small-caps;
  font-size:50px;
}
#rect{
  width:1000px;
  height:600px;
  background-color: black;
  margin-top: 55px;
  margin-left:180px;
  position: relative;
}
.skl1 #rect h1{
  position: absolute;
  top:6%;
  left:38%;
  transform: translate(-6%,-38%);
  text-align: center;
  border-bottom: 2px solid #ddd;
}
#c{
  width:120px;
  height:120px;
  margin-right:5px;
}
#c img{
  width: 120px;
  height: 120px;
  margin-left:250px;
  background: #ddd;
}
#c1{
  margin-left: 380px;
}
#c1 img{
  width:120px;
}
#opc{
  position: absolute;
  opacity: 0.8;
}

@media screen and (max-width:480px){
.bg{
    background:linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(img/tech.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
  }
.nb{
  text-align: center;
  background: black;
}
.active{
  border-bottom: 2px solid #ddd;
	width: 100%;
  text-align: center;
  transition: 0.2s;
}
#n{
  color:chartreuse;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 1px;
  -webkit-text-stroke: 1px black;
  width:50%;
  margin-left: 95px;
}

.bg1{
    padding-top: 100px;
}
.anm{
  text-align: center;
  animation:fade 10s ease ;  
}
#anm2{
  text-align: center;
  animation:slide 2s linear 1;
}
#a1{
    color:beige;
    margin-left: 0px;
    margin-top:190px;
    font-variant: small-caps;
    font-size: 30px;
    color:orangered;
}
#a2{
    color:beige;
    margin-left: 0px;
    font-variant: small-caps;
    font-size: 35px;
    word-spacing: 7px;
}
#a2 span{
    color: orangered;
}
#a3{
    color: beige;
    margin-left: 0px;
    font-variant: small-caps;
    font-size: 25px;
    word-spacing: -2px;
    letter-spacing: -1px;
}
#a3 span{
    color: orangered;
}
#a4{
  margin-left: 0px; 
  background-color: none;
}
#a4 span{
  color: orangered;
}
#a4 button{
  border: outset;
  font-variant: small-caps;
  font-family:initial;
  font-size: 30px;
  background-color: orangered;
  border-color: whitesmoke;
  border-radius: 25px;
  padding: 5px 10px;
}
/*------------------ABOUT---------------------------------------*/
.abt{
  background: linear-gradient(to right, #003399 0% , #ff0066 100%);
  background-size: cover;
  background-position: center;
  height: 130vh;
}
.p1{
  text-align: center;
}

#im {
  width: 350px;
  height:300px;
  background-image: url(img/t.jpg);
  background-position: center;
  background-size: cover;
  margin-left: -25px;
  display: block;
}

.row{
    margin-top: 75px;
}
#p1{
  margin-top:300px;
  text-align: center;
  text-align: justify;
  position: absolute;
}
#p1 h2{
  width: 100%;
  padding: 15px;
  margin-top: 30px;
  margin-left:0px;
  text-align: center;
  font-size: 22px;
  font-weight: bold;
  color: whitesmoke;
  -webkit-text-stroke: 1.3px black;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border:7px solid yellow;
  border-top:7px solid black;
  border-left:7px solid black;
  border-top-left-radius: 15px;
}
#p1 span{
  color: chartreuse;
  margin-left: 10px;
  font-weight: bold;
  font-size: 21px;
  font-variant: small-caps;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#p1 p{
    margin-left: 0px;
    padding:5px;
    font-size: 24px;
    width: 100%;
    color:aliceblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.p1 img{
    border-left: 5px solid darkblue;
    border-top: 5px solid darkblue;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 00px 12px 15px 8px;
    width: 100%;
    height: 300px;
    display: none;
}
.box{
  position: relative;
  margin-left: -30px;
  width: 100%;
  height: 300px;
}
.overlay{
  bottom: 0;
  left:0;
  right: 0;
  margin-left: -20px;
  background-color: black;
  opacity: 0.7;
  overflow: hidden;
  width: 350px;
  height:0;
  transition: 1.5s;
  position: absolute;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.text{
  color: white;    
  left: 15%;
  margin-top:200px;
  font-size: 10px;
  position: absolute;
}
/*------------------ContacT----------------------------------*/
.bx{
  margin-top: 50px;
  padding: 5px;
  width: 100%;
  height:470px;
  background: black;
  left:50%;
  position: absolute;
  transform: translate(-50%);
  box-shadow: 15px 8px 15px 8px black;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-right: 3px solid #ff0066;
  border-bottom: 3px solid #ff0066;
}
.bx #snd{
  background: none;
  border: none;
  color:aliceblue;
  font-variant: small-caps;
  font-size: 30px;
  margin-left:115px ;
  margin-top:25px ;
}
.bx h6{
  margin-top: 20px;
  color: aliceblue;
  font-variant: small-caps;
  font-family: monospace;
  font-size: 20px;
  text-align: center;
}	
}
